@import "tailwindcss";

:root {
  --background: #0a0028;
  --foreground: #b295f7;
  --accent: #ff00cc;
  --bright-accent: #ffd000; 

  --primary: #53fff1;
  --secondary: #73d0ff;
  --tertiary: #1a004f;

  --bright-primary: #32ff77;
  --bright-secondary: #32baff;
  --bright-tertiary: #7632ff;

  --font-nobile: 'Nobile', sans-serif;
  --font-mono: 'Nobile', sans-serif;
  --font-sans: 'Nobile', sans-serif;
  --font-serif: 'Nobile', sans-serif;
  --font-heading: 'Nobile', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nobile);
  --font-mono: var(--font-nobile);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ff2e2e;
    --foreground: #d1c6a4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nobile);
}
